<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">


    <title>Formularz</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 

    <link href="base.css" rel="stylesheet">
    <link href="form.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      
      <div class="py-5 text-center">
        
        <h2>Wypełnij formularz!</h2>
      </div>

      <div class="row ">
        <div class="col-md-12">
          
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 ">
                <label for="firstName">Imie</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                
              </div>
              <div class="col-md-6">
                <label for="lastName">Nazwisko</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                
              </div>
            </div>
            
            <hr class="md-6">
            <div class="row">
              <div class="col-md-5">
                <label for="transport">Środek transportu</label>
                <select class="custom-select d-block w-100" id="transport" required>
                  <option value="">Wybierz</option>
                  <option>Samolot</option>
                  <option>Pociąg</option>
                  <option>Autobus</option>
                  <option>Taxi</option>
                  <option>Własny samochód</option>
                  
                </select>
              </div>
            </div>


            <hr class="md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-3">
                  
                  <label for="monday">Poniedziałek</label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="breakfast">
                        <label class="custom-control-label" for="same-address">Śniadanie</label>
                      </div>
                  </div>

                <div class="col-md-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="lunch">
                        <label class="custom-control-label" for="same-address">Obiad</label>
                      </div>
                </div>

                <div class="col-md-3">                    
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="dinner">
                    <label class="custom-control-label" for="same-address">Kolacja</label>
                  </div>
                </div>
                <button ng-click="addItem()">Add</button>
              </div>
            </div>

            <hr class="md-6">

            <div class="row">
              <div class="col-md-5">
                <label for="country">Kraj</label>
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Wybierz</option>
                  <option>United States</option>
                  <option>Poland</option>
                  <option>France</option>
                </select>
              </div>
            </div>
            

            <hr class="md-6">
            <div class="row">
              <div class="col-md-5">
                <label for="meal">Posiłek</label>
                <select class="custom-select d-block w-100" id="meal" required>
                  <option value="">Wybierz</option>
                  <option>Śniadanie</option>
                  <option>Obiad</option>
                  <option>Kolacja</option>
                </select>
              </div>
            </div>


          <div class="row">
            
              <hr class="md-6">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputFile">Załączanie pliku</label>
                  <input type="file" id="exampleInputFile">
              </div>
            </div>
          </div>

          <hr class="md-6">
          
          <div class="row">
            <div class="col-md-3 ">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Zapisz</button>
              </div>
              <div class="col-md-3 ">
                <button class="btn btn-secondary btn-lg btn-block" type="reset" data-toggle="modal" data-target="#myClean">Wyczyść</button>

              </div>
            <div class="col-md-3 ">
              <button class="btn btn-secondary btn-lg btn-block" type="submit">Wstecz</button>
            </div>
          </div>

          <div class="modal fade" id="MyClean" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Czy na pewno chcesz zapisać wniosek?</h4>
                </div>
                <div class="modal-footer">
                  <button type="button"  class="btn btn-link" data-dismiss="modal">Tak</button>
                  <button type="button" class="btn btn-primary">Nie</button>
                </div>
              </div>        
            </div>
          </div>
          
          </form>

        </div>
    </div>
  </div>

      <footer class="footer">
        <div class="container">
          <p class="text-muted">2018&copy System Rozliczania Delegacji</p>
        </div>
      </footer>

    </div>
  </body>
</html>
